{% extends 'base.html' %}
{% block content %}

<form class="inputs-form" method="post" action="/taxcalc/" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="inputs-block-header">
    <h1>Tax-Calculator Project</a></h1>
    {% if not can_run %}
    {% include 'core/perm.html' %}
    {% block perm %}
    {% endblock %}
    {% endif %}
  </div>
  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="sidebar-button">
    <a href="#" ></a>
    <input id="submit" class="btn btn-secondary btn-block btn-animate" type="submit" name="full_calc" value="Show me the results!">
  </div>

</form>
{% endblock %}
